<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POS - Purchase</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../partials/sidebar') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../partials/topbar') %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Purchases</h1>

                            <!-- Content Row -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h1 class="h3 mb-2 text-gray-800">Transaction</h1>
                                </div>
                                <form id="add-purchaseitem">
                                    <form method="post" action="/purchases/edit/<%=purchases.invoice%>">
                                        <div class="card-body border-bottom pb-5">
                                            <div class="table-responsive">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="invoice" class="form-label">Invoice</label>
                                                        <input type="text" name="invoice" id="invoice"
                                                            class="form-control" value="<%=purchases.invoice%>"
                                                            disabled>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="time" class="form-label">Time</label>
                                                        <input type="text" name="time" id="time" class="form-control"
                                                            value="<%=purchases.time%>" disabled>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="operator" class="form-label">Operator</label>
                                                        <input type="text" name="operator" id="operator"
                                                            class="form-control" value="<%=name%>" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body border-bottom pb-5">
                                            <div class="table-responsive">
                                                <div class="row pb-3">
                                                    <div class="col-sm-4">
                                                        <label for="itemcode" class="form-label">Goods
                                                            Barcode</label>
                                                        <select name="itemcode" id="itemcode" class="form-control">
                                                            <%goods.forEach(item=> {%>
                                                                <option value="<%=item.barcode%>"
                                                                    <%=good.itemcode==item.barcode ? ' selected' : '' %>
                                                                    ><%=item.barcode%> - <%=item.name%>
                                                                </option>
                                                                <%})%>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="name" class="form-label">Goods Name</label>
                                                        <input type="text" name="name" id="name" class="form-control"
                                                            value="" disabled>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="stock" class="form-label">Stock</label>
                                                        <input type="text" name="stock" id="stock" class="form-control"
                                                            value="" disabled>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="purchaseprice" class="form-label">Purchase
                                                            Price</label>
                                                        <input type="text" name="purchaseprice" id="purchaseprice"
                                                            class="form-control" value="" required>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="quantity" class="form-label">Qty</label>
                                                        <input type="number" step="0" name="quantity" id="quantity"
                                                            class="form-control" value="" required>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="totalprice" class="form-label">Total Price</label>
                                                        <input type="text" name="totalprice" id="totalprice"
                                                            class="form-control"
                                                            value="<%=purchaseitem.purchaseprice ? '' : purchaseitem.purchaseprice%>"
                                                            required>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary btn-icon-split mt-3" type="submit">
                                                    <span class="icon text-white-10">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                    <span class="text">Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <form id="add-purchase">
                                        <div class="card-body px-0 overflow-x-auto">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Barcode</th>
                                                        <th>Name</th>
                                                        <th>Qty</th>
                                                        <th>Price</th>
                                                        <th>Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table-content">
                                                    <%if(purchaseitem && purchaseitem.length==0){%>
                                                        <tr>
                                                            <td colspan="6" class="text-center">no items</td>
                                                        </tr>
                                                        <%} else {%>
                                                            <%purchaseitems.forEach((item, index)=> {%>
                                                                <tr>
                                                                    <td>
                                                                        <%=index + 1%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item.itemcode%>
                                                                    </td>
                                                                    <td>
                                                                        <%=purchases.Purchaseitems[0].Good.name%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item.quantity%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item.purchaseprice%>
                                                                    </td>
                                                                    <td>
                                                                        <%=item.totalprice%>
                                                                    </td>
                                                                    <td>
                                                                        <button
                                                                            class="btn btn-danger btn-circle delete-item"
                                                                            data-id="${item.id}">
                                                                            <i class="fas fa-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <%})%>
                                                                    <%}%>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="card-footer">
                                            <div class="table-responsive">
                                                <div class="row mb-3">
                                                    <label for="totalsum" class="col-sm-2 col-form-label">Total
                                                        Summary</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="totalsum" id="totalsum"
                                                            class="form-control" value="<%=purchases.totalsum%>"
                                                            placeholder="0.00" disabled>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="supplier"
                                                        class="col-sm-2 col-form-label">Supplier</label>
                                                    <div class="col-sm-10">
                                                        <select name="supplier" id="supplier" class="form-control">
                                                            <%suppliers.forEach(item=> {%>
                                                                <option value="<%=item.supplierId%>"
                                                                    <%=purchases.supplier==item.supplierId ? ' selected'
                                                                    : '' %>
                                                                    ><%=item.name%>
                                                                </option>
                                                                <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-success btn-icon-split" type="submit">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span class="text">Finish</span>
                                            </button>

                                            <a class="btn btn-warning btn-icon-split" href="/purchases">
                                                <span class="icon text-white-10">
                                                    <i class="fas fa-arrow-left"></i>
                                                </span>
                                                <span class="text">Back</span>
                                            </a>
                                        </div>
                                    </form>
                                </form>
                            </div>
                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <%- include('../partials/footer-content') %>
                    <!-- Footer -->

                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Do you want to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select Logout to end your session</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/javascripts/demo/chart-area-demo.js"></script>
    <script src="/javascripts/demo/chart-pie-demo.js"></script>

    <%- include('../partials/footer') %>
        <script>
            $(document).ready(function () {
                // Initialize variables
                let currentPurchaseItems = [];

                // Initialize purchase when page loads
                const generateInvoice = async () => {
                    try {
                        const response = await $.ajax({
                            url: 'http://localhost:3000/purchases/invoice',
                            method: 'GET'
                        });

                        $('#invoice').val(response.invoice);
                        $('#time').val(moment().format('DD MMM YYYY HH:mm:ss'));

                        if (response.purchaseitems && response.purchaseitems.length > 0) {
                            currentPurchaseItems = response.purchaseitems;
                            updatePurchaseItemsTable();
                            updateTotalSummary();
                        }

                    } catch (error) {
                        console.error('Error:', error);
                        alert('Failed to generate invoice number');
                    }
                };

                // Update purchase items table
                const updatePurchaseItemsTable = () => {
                    $('#table-content').empty();

                    currentPurchaseItems.forEach((item, index) => {
                        const row = `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${item.itemcode}</td>
                        <td>${item.name}</td>
                        <td>${item.quantity}</td>
                        <td>${item.purchaseprice}</td>
                        <td>${item.totalprice}</td>
                        <td>
                            <button class="btn btn-danger btn-circle delete-item" data-id="${item.id}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                `;
                        $('#table-content').append(row);
                    });
                };

                // Update total summary
                const updateTotalSummary = () => {
                    const total = currentPurchaseItems.reduce((sum, item) => sum + Number(item.totalprice), 0);
                    $('#total-summary').val(total);
                };

                // Delete item
                const deleteItem = async (id) => {
                    try {
                        const response = await $.ajax({
                            url: `http://localhost:3000/purchases/items/${id}`,
                            method: 'DELETE'
                        });

                        if (response.success) {
                            currentPurchaseItems = currentPurchaseItems.filter(item => item.id !== id);
                            updatePurchaseItemsTable();
                            updateTotalSummary();
                        }
                    } catch (error) {
                        console.error('Error deleting item:', error);
                    }
                };

                // Fetch goods data when barcode changes
                const loadGoodsData = async () => {
                    const barcode = $('#goods-barcode').val();
                    try {
                        const goods = await $.ajax({
                            url: `http://localhost:3000/purchases/${barcode}`,
                            method: 'GET'
                        });

                        $('#goods-name').val(goods.name);
                        $('#stock').val(goods.stock);
                        $('#purchase-price').val(goods.purchaseprice);
                        $('#qty').val(1);
                        $('#total-price').val((goods.purchaseprice * 1).toFixed(2));
                    } catch (error) {
                        console.error('Error fetching goods:', error);
                        resetGoodsForm();
                    }
                };

                // Reset goods form
                const resetGoodsForm = () => {
                    $('#goods-name').val('');
                    $('#stock').val('');
                    $('#purchase-price').val('');
                    $('#qty').val('');
                    $('#total-price').val('');
                };

                // Calculate total price
                const calculateTotalPrice = () => {
                    const price = parseFloat($('#purchase-price').val()) || 0;
                    const qty = parseInt($('#qty').val()) || 0;
                    $('#total-price').val((price * qty).toFixed(2));
                };

                // Add item to purchase
                const addPurchaseItem = async (e) => {
                    e.preventDefault();

                    try {
                        const invoice = $('#invoice').val();
                        const itemcode = $('#goods-barcode').val();
                        const quantity = parseInt($('#qty').val());
                        const purchaseprice = parseFloat($('#purchase-price').val());
                        const totalprice = parseFloat($('#total-price').val());

                        const newItem = await $.ajax({
                            url: 'http://localhost:3000/purchases/items/add',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                invoice,
                                itemcode,
                                quantity,
                                purchaseprice,
                                totalprice
                            })
                        });

                        currentPurchaseItems.push(newItem);
                        updatePurchaseItemsTable();
                        updateTotalSummary();
                        resetGoodsForm();

                    } catch (error) {
                        console.error('Error adding item:', error);
                    }
                };

                // Complete purchase
                const finishPurchase = async (e) => {
                    e.preventDefault();

                    try {
                        const invoice = $('#invoice').val();
                        const supplierId = $('#supplier').val();
                        const totalsum = parseFloat($('#total-summary').val());

                        await $.ajax({
                            url: 'http://localhost:3000/purchases/finish',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                invoice,
                                supplierId,
                                totalsum
                            })
                        });

                        window.location.href = '/purchases';
                    } catch (error) {
                        console.error('Error completing purchase:', error);
                    }
                };

                // Event listeners
                $('#goods-barcode').on('change', loadGoodsData);
                $('#qty').on('input', calculateTotalPrice);
                $('#add-purchaseitem').on('submit', addPurchaseItem);
                $('#add-purchase').on('submit', finishPurchase);
                $(document).on('click', '.delete-item', function () {
                    const id = $(this).data('id');
                    deleteItem(id);
                });

                // Initialize
                generateInvoice();
            });
        </script>