<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POS - users</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../partials/sidebar') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../partials/topbar') %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Goods</h1>

                            <!-- Content Row -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <%=title%>
                                    </h6>
                                </div>
                                <form action="" method="post" encType="multipart/form-data">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div class="row mb-3">
                                                <label for="email" class="col-sm-2 col-form-label">Barcode</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="barcode" id="add-barcode"
                                                        class="form-control" value="<%=data.barcode%>" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="name" id="add-name" class="form-control"
                                                        value="<%=data.name%>" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                                                <div class="col-sm-10">
                                                    <input type="number" name="stock" id="add-stock"
                                                        class="form-control" value="<%=data.stock%>" placeholder="0"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="purchaseprice" class="col-sm-2 col-form-label">Purchase
                                                    Price</label>
                                                <div class="col-sm-10">
                                                    <input type="number" name="purchaseprice" id="add-purchaseprice"
                                                        class="form-control" value="<%=data.purchaseprice%>"
                                                        placeholder="0" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="sellingprice" class="col-sm-2 col-form-label">Selling
                                                    Price</label>
                                                <div class="col-sm-10">
                                                    <input type="number" name="sellingprice" id="add-sellingprice"
                                                        class="form-control" value="<%=data.sellingprice%>"
                                                        placeholder="0" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="unit" class="col-sm-2 col-form-label">Unit</label>
                                                <div class="col-sm-10">
                                                    <select name="unit" id="add-unit" class="form-control">
                                                        <%unit.forEach(item => {%>
                                                        <option value="<%=item.unit%>" <%=data.unit==item.unit ? ' selected' : '' %>
                                                            ><%=item.note%></option>
                                                            <%})%>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="picture" class="col-sm-2 col-form-label">Picture</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="file" id="add-picture"
                                                        name="picture" value="">
                                                </div>
                                            </div>

                                            <%if(data.picture) {%>
                                                <div class="row mb-3">
                                                    <label for="avatar" class="col-sm-2 col-form-label">preview</label>
                                                    <div class="col-sm-10">
                                                        <img id="img-picture"
                                                            src="/images/pictures/<%= data.picture ? data.picture : ''%>"
                                                            alt="avatar" width="300px">
                                                    </div>
                                                </div>
                                                <%}%>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-success btn-icon-split">
                                            <span class="icon">
                                                <i class="fas fa-database"></i>
                                            </span>
                                            <span class="text">Save</span>
                                        </button>

                                        <a class="btn btn-warning btn-icon-split" href="/goods">
                                            <span class="icon text-white-10">
                                                <i class="fas fa-undo"></i>
                                            </span>
                                            <span class="text">Back</span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <%- include('../partials/footer-content') %>
                    <!-- Footer -->

                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Do you want to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select Logout to end your session</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/javascripts/demo/chart-area-demo.js"></script>
    <script src="/javascripts/demo/chart-pie-demo.js"></script>

    <script>
        document.getElementById('add-picture').addEventListener('change', function (event) {
            document.getElementById('img-picture').src = URL.createObjectURL(event.target.files[0])
        })
    </script>

    <%- include('../partials/footer') %>